In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("twitter_model.csv",index_col=0)

In [7]:
#STOPWORDS - DELETE STOPWORDS
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction import text 
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
stopWords = set(stopwords.words('english'))
stopWords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [9]:
#CLEAN DATA
import re
import string
def clean_text_1(text):
    # Lowercase
    text = text.lower()
    # Remove special text in brackets ([chorus],[guitar],etc)
    text = re.sub('\[.*?\]', '', text)
    # Remove punctuation
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    # Remove words containing numbers
    text = re.sub('\w*\d\w*', '', text)    
    # Remove quotes
    text = re.sub('[‘’“”…]', '', text)
    # Remove new line \n 
    text = re.sub('\n', ' ', text)
    # Remove stop_word
    stop_words = stopwords.words('english')
    words = word_tokenize(text)
    new_text = ""
    for w in words:
        if w not in stop_words and len(w) > 1:
            new_text = new_text + " " + w
    return new_text
from sklearn.feature_extraction import text 
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer
from nltk.stem import WordNetLemmatizer 
from nltk import word_tokenize, pos_tag
wnl = WordNetLemmatizer()
from nltk.stem import WordNetLemmatizer
wnl = WordNetLemmatizer()

In [10]:
#LEMMATIZER
def lemmatize_tag(text):
    lemma=[]
    for i,j in pos_tag(word_tokenize(text)) :
        p=j[0].lower()
        if p in ['j','n','v']:
            if p == 'j':
                p = 'a'
            lemma.append(wnl.lemmatize(i,p))
        else :
            lemma.append(wnl.lemmatize(i))    
    return ' '.join(lemma)

In [13]:
data_clean = pd.DataFrame(df.text.apply(lemmatize_tag))

In [12]:
data_clean

                                                       text
ID_SALES
HD1927A   Lastly , for a company that 's try to put the ...
ST4244A   what about for u that cant get to the state th...
HD108A    an already pleasant flight from London to Char...
HD4335A   She could even see that I have try to make the...
HN416A    but seriously if my cat dead I 'm go to be pis...
...                                                     ...
HC3660A   but my friend be tell she be able to use her c...
HD3916A   I be a bit steam in conjunction w/my new 7-hou...
HD2061T   What if my NYC flight be delay and I miss my c...
HS4684T   How can I verify if wheelchair assistance have...
HD4421A   - not only 2 hour delay - double booked seat n...

[12706 rows x 1 columns]

In [51]:
#LSA
cv = CountVectorizer(min_df=1, max_df=1,stop_words=stopWords)
data_cv = cv.fit_transform(data_clean.text)

In [54]:
data_cv

<12706x1 sparse matrix of type '<class 'numpy.int64'>'
	with 3314 stored elements in Compressed Sparse Row format>

In [81]:
data_dtm = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_dtm.index = data_clean.index
data_dtm

,aaaand,aaalwayslate,aadelay,aadv,aal,aano,aaron,aateam,aaus,ab,...,zombie,zrh,zrhairport,zukes,zurichnew,ā²,ā²ä,āµfor,āµå,ćøä
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12702,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12703,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12704,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12705,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words=stopWords)
tfidf = vectorizer.fit_transform(data_clean.text)
len(vectorizer.get_feature_names())
data_tfidf = pd.DataFrame(tfidf.toarray(), columns=vectorizer.get_feature_names())
data_tfidf.index = data_clean.index
data_tfidf

,aa,aaaand,aaalwayslate,aacom,aadelay,aadv,aadvantage,aafail,aal,aano,...,ä¼ćøā,ā²,ā²ä,ā³,āµ,āµfor,āµå,ćø,ćøä,ćøå
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12701,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12702,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12704,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
from sklearn.decomposition import TruncatedSVD

# SVD represent documents and terms in vectors 
svd_model = TruncatedSVD(n_components=30)

svd_model.fit(data_tfidf)

print(svd_model.components_.shape)
print(svd_model.singular_values_)

(30, 10390)
[14.45219153 11.03473616 10.94575461  9.43948058  8.82244908  8.43124734
  8.21132168  8.00646668  7.81806283  7.65904127  7.10351424  6.96095543
  6.93771822  6.69461989  6.51200592  6.46232147  6.38210638  6.23430061
  6.07953024  6.04425363  5.99256061  5.89178967  5.85450652  5.79522057
  5.78048301  5.72854082  5.72499536  5.68976387  5.66092412  5.5712473 ]

In [61]:
terms = vectorizer.get_feature_names()

for i, comp in enumerate(svd_model.components_):
    terms_comp = zip(terms, comp)
    sorted_terms = sorted(terms_comp, key= lambda x:x[1], reverse=True)[:7]
    print("Topic "+str(i)+": ")
    for t in sorted_terms:
        print("%.2f*%s "% (t[1], t[0]) ,end='')
    print("")

Topic 0:
0.50*flight 0.26*get 0.24*nt 0.21*cancelled 0.20*thanks 0.18*hour 0.15*help
Topic 1:
0.92*thanks 0.20*thank 0.06*much 0.06*great 0.04*dm 0.04*awesome 0.04*response
Topic 2:
0.96*thank 0.05*great 0.05*much 0.03*follow 0.03*appreciate 0.03*send 0.03*dm
Topic 3:
0.55*flight 0.32*cancelled 0.23*flightled 0.13*thanks 0.10*thank 0.09*flighted 0.07*delay
Topic 4:
0.66*http 0.48*fleek 0.47*fleet 0.17*rt 0.09*flight 0.03*lol 0.03*stop
Topic 5:
0.53*service 0.51*customer 0.15*hour 0.10*bad 0.10*ever 0.09*hold 0.08*delay
Topic 6:
0.54*hour 0.31*hold 0.25*wait 0.15*delay 0.15*plane 0.14*minute 0.11*still
Topic 7:
0.32*cancelled 0.29*dm 0.28*hold 0.27*help 0.26*flightled 0.22*please 0.18*follow
Topic 8:
0.57*dm 0.38*follow 0.20*please 0.20*send 0.17*delay 0.16*hour 0.12*flight
Topic 9:
0.55*get 0.16*please 0.15*dm 0.12*plane 0.10*go 0.10*follow 0.10*back
Topic 10:
0.34*help 0.32*call 0.24*time 0.21*please 0.14*fly 0.13*bag 0.12*need
Topic 11:
0.53*help 0.21*please 0.20*flight 0.18*need 0.13*delay 0.10*change 0.10*customer
Topic 12:
0.48*call 0.28*flight 0.14*back 0.13*late 0.10*number 0.10*say 0.08*customer
Topic 13:
0.49*bag 0.28*wait 0.23*still 0.19*cancelled 0.18*flightled 0.17*gate 0.14*plane
Topic 14:
0.41*wait 0.29*time 0.22*minute 0.22*still 0.18*flight 0.10*hold 0.10*gate
Topic 15:
0.47*bag 0.19*fly 0.18*flight 0.17*hold 0.17*hour 0.12*airline 0.12*ever
Topic 16:
0.45*time 0.45*delay 0.26*bag 0.13*minute 0.09*get 0.08*help 0.07*check
Topic 17:
0.31*wait 0.24*bad 0.22*help 0.22*call 0.19*airline 0.17*ever 0.16*still
Topic 18:
0.30*great 0.24*help 0.23*one 0.22*still 0.21*would 0.20*delay 0.20*send
Topic 19:
0.41*great 0.33*go 0.27*please 0.25*wait 0.16*guy 0.14*still 0.13*yes

In [14]:
#POLARITY/SUBJECTIVITY
data_clean=pd.DataFrame(data_clean.text.apply(clean_text_1))
from textblob import TextBlob
pol = lambda x: TextBlob(x).sentiment.polarity
sub = lambda x: TextBlob(x).sentiment.subjectivity
data_clean['polarity'] = data_clean['text'].apply(pol)
data_clean['subjectivity'] = data_clean['text'].apply(sub)
data_clean

,text,polarity,subjectivity
ID_SALES,,,
HD1927A,lastly company try put love fly would nice so...,0.380000,0.573333
ST4244A,cant get state play hunt destinationdragons t...,0.000000,0.000000
HD108A,already pleasant flight london charlotte make...,0.426667,0.673333
HD4335A,could even see try make transaction would nt ...,0.000000,0.000000
HN416A,seriously cat dead go pissedvery thankful evi...,-0.511111,0.688889
...,...,...,...
HC3660A,friend tell able use credit airline towards o...,0.500000,0.625000
HD3916A,bit steam conjunction wmy new wait first sit ...,0.193182,0.393939
HD2061T,nyc flight delay miss connection sacramento c...,0.000000,0.000000
HS4684T,verify wheelchair assistance request next flight,0.000000,0.000000
HD4421A,hour delay double booked seat nit park wrong ...,-0.027778,0.466667

In [23]:
data_clean.groupby(['ID_SALES'])['polarity'].max()
data_clean.groupby(['ID_SALES'])['polarity'].min()
data_clean.groupby(['ID_SALES'])['subjectivity'].max()
data_clean.groupby(['ID_SALES'])['subjectivity'].min()
data_clean.groupby(['ID_SALES'])['polarity'].mean()
data_clean.groupby(['ID_SALES'])['subjectivity'].mean()

ID_SALES
CC1387A    0.829167
CC139A     0.000000
CC1701A    0.533333
CC1773A    1.000000
CC1830A    0.000000
             ...
ST60A      1.000000
ST809A     0.300000
ST925A     1.000000
ST928A     0.200000
ST960A     0.841270
Name: subjectivity, Length: 4148, dtype: float64

In [33]:
aggregate_result_pol = data_clean.groupby('ID_SALES').agg({'polarity': ['mean', 'min', 'max', 'count']}) 
aggregate_result_sub = data_clean.groupby('ID_SALES').agg({'subjectivity': ['mean', 'min', 'max', 'count']}) 
merge_df=pd.merge(left=aggregate_result_pol, right=aggregate_result_sub, on='ID_SALES')
merge_df

          polarity                 subjectivity
              mean  min  max count         mean       min  max count
ID_SALES
CC1387A   0.766667  0.3  1.0     3     0.829167  0.487500  1.0     3
CC139A    0.000000  0.0  0.0     3     0.000000  0.000000  0.0     3
CC1701A   1.000000  1.0  1.0     3     0.533333  0.300000  1.0     3
CC1773A   1.000000  1.0  1.0     3     1.000000  1.000000  1.0     3
CC1830A   0.000000  0.0  0.0     3     0.000000  0.000000  0.0     3
...            ...  ...  ...   ...          ...       ...  ...   ...
ST60A    -1.000000 -1.0 -1.0     3     1.000000  1.000000  1.0     3
ST809A    0.266667  0.0  0.8     3     0.300000  0.000000  0.9     3
ST925A   -0.933333 -1.0 -0.8     3     1.000000  1.000000  1.0     3
ST928A    0.000000  0.0  0.0     3     0.200000  0.000000  0.6     3
ST960A   -0.804762 -1.0 -0.7     3     0.841270  0.666667  1.0     3

[4148 rows x 8 columns]

In [34]:
merge_complete= pd.merge(left=merge_df, right=data_clean, on='ID_SALES')
merge_complete

C:\Users\giacollo\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

,"(polarity, mean)","(polarity, min)","(polarity, max)","(polarity, count)","(subjectivity, mean)","(subjectivity, min)","(subjectivity, max)","(subjectivity, count)",text,polarity,subjectivity
ID_SALES,,,,,,,,,,,
CC1387A,0.766667,0.3,1.0,3,0.829167,0.487500,1.0,3,delay perfect time learn swift program teamtr...,1.000000,1.000000
CC1387A,0.766667,0.3,1.0,3,0.829167,0.487500,1.0,3,pilot amp crew flt customer service professio...,0.300000,0.487500
CC1387A,0.766667,0.3,1.0,3,0.829167,0.487500,1.0,3,phone hour customer service ca nt figure awes...,1.000000,1.000000
CC139A,0.000000,0.0,0.0,3,0.000000,0.000000,0.0,3,thx someone pick minute,0.000000,0.000000
CC139A,0.000000,0.0,0.0,3,0.000000,0.000000,0.0,3,tomorrow site show flight ewr cancelled fligh...,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
ST928A,0.000000,0.0,0.0,3,0.200000,0.000000,0.6,3,flysaa lose baggageäāā¦ heard different thi...,0.000000,0.600000
ST928A,0.000000,0.0,0.0,3,0.200000,0.000000,0.6,3,update flight bna today,0.000000,0.000000
ST960A,-0.804762,-1.0,-0.7,3,0.841270,0.666667,1.0,3,bad airline iäāāve ever flown guy treat li...,-0.700000,0.666667
ST960A,-0.804762,-1.0,-0.7,3,0.841270,0.666667,1.0,3,get rebooked wake try call twice get hang wor...,-1.000000,1.000000
ST960A,-0.804762,-1.0,-0.7,3,0.841270,0.666667,1.0,3,wife sick wait line see agent phone agent say...,-0.714286,0.857143

In [66]:
#VADER
import nltk
nltk.download('vader_lexicon')

from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()
vader_score = data_clean['text'].apply(lambda text: sid.polarity_scores(text))
vader_score

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\giacollo\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

0        {'neg': 0.0, 'neu': 0.588, 'pos': 0.412, 'comp...
1        {'neg': 0.288, 'neu': 0.712, 'pos': 0.0, 'comp...
2        {'neg': 0.0, 'neu': 0.377, 'pos': 0.623, 'comp...
3        {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
4        {'neg': 0.536, 'neu': 0.206, 'pos': 0.258, 'co...
                               ...
12701    {'neg': 0.0, 'neu': 0.633, 'pos': 0.367, 'comp...
12702    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
12703    {'neg': 0.438, 'neu': 0.562, 'pos': 0.0, 'comp...
12704    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
12705    {'neg': 0.446, 'neu': 0.462, 'pos': 0.092, 'co...
Name: text, Length: 12706, dtype: object

In [67]:
#LDA
# We are going to create a document-term matrix using CountVectorizer, and exclude common English stop words
cv = CountVectorizer(stop_words=stopWords,min_df=1, max_df=1)
data_cv = cv.fit_transform(data_clean.text)
data = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data.index = data_clean.index
data

,aaaand,aaalwayslate,aadelay,aadv,aal,aano,aaron,aateam,aaus,ab,...,zombie,zrh,zrhairport,zukes,zurichnew,ā²,ā²ä,āµfor,āµå,ćøä
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12702,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12703,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12704,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12705,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
from gensim import matutils, models
import scipy.sparse

In [69]:
tdm = data.transpose()
tdm.head()

,0,1,2,3,4,5,6,7,8,9,...,12696,12697,12698,12699,12700,12701,12702,12703,12704,12705
aaaand,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aaalwayslate,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aadelay,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aadv,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aal,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [70]:
# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [71]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

In [73]:
# Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term),
# we need to specify two other parameters as well - the number of topics and the number of passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=10)
lda.print_topics()

[(0,
  '0.000*"andrewbiga" + 0.000*"tht" + 0.000*"invitational" + 0.000*"corny" + 0.000*"maverick" + 0.000*"heidimacey" + 0.000*"lacked" + 0.000*"aä" + 0.000*"tcomrfbjtepef" + 0.000*"dublinairport"'),
 (1,
  '0.000*"maimi" + 0.000*"preoccupied" + 0.000*"tcovvzksmfkvw" + 0.000*"refreshes" + 0.000*"malaysia" + 0.000*"dallasaustin" + 0.000*"hill" + 0.000*"uhmmm" + 0.000*"playsoon" + 0.000*"tcossuvwwkyhh"'),
 (2,
  '0.000*"stair" + 0.000*"takemehome" + 0.000*"phxphl" + 0.000*"lizautter" + 0.000*"pseudovoucher" + 0.000*"pointy" + 0.000*"grrrr" + 0.000*"auckland" + 0.000*"cpä" + 0.000*"sacintlairport"'),
 (3,
  '0.000*"desert" + 0.000*"holla" + 0.000*"vday" + 0.000*"mojave" + 0.000*"keeper" + 0.000*"heattrap" + 0.000*"panchojoe" + 0.000*"wifey" + 0.000*"tindertips" + 0.000*"consumermarketing"'),
 (4,
  '0.000*"saving" + 0.000*"retrn" + 0.000*"custy" + 0.000*"condomrito" + 0.000*"phoneonly" + 0.000*"dendfw" + 0.000*"familywe" + 0.000*"tcogkgkzlawpr" + 0.000*"health" + 0.000*"toä"'),
 (5,
  '0.000*"crumb" + 0.000*"boost" + 0.000*"babyfood" + 0.000*"throug" + 0.000*"measles" + 0.000*"neuer" + 0.000*"smth" + 0.000*"aadelay" + 0.000*"sr" + 0.000*"deli"'),
 (6,
  '0.000*"cbsbaltimore" + 0.000*"kauai" + 0.000*"kung" + 0.000*"stafford" + 0.000*"sinus" + 0.000*"noxtralegroom" + 0.000*"wsupervisor" + 0.000*"preregistration" + 0.000*"therofo" + 0.000*"nocoatcloset"'),
 (7,
  '0.000*"tcoetfjqiwuvt" + 0.000*"tock" + 0.000*"fantasy" + 0.000*"deplanes" + 0.000*"wiedersehen" + 0.000*"emphasize" + 0.000*"changemassive" + 0.000*"nominate" + 0.000*"goodday" + 0.000*"auf"'),
 (8,
  '0.000*"repartee" + 0.000*"customersfirst" + 0.000*"att" + 0.000*"nancy" + 0.000*"westagard" + 0.000*"tcopgoeuxnspi" + 0.000*"bundleup" + 0.000*"leastthebeverageswillbecold" + 0.000*"froschtravel" + 0.000*"lodgingfood"'),
 (9,
  '0.000*"theyareallbetter" + 0.000*"zukes" + 0.000*"creative" + 0.000*"arpt" + 0.000*"pulled" + 0.000*"rndtrp" + 0.000*"nonvegan" + 0.000*"yogurt" + 0.000*"coffeeneeded" + 0.000*"noodle"')]

In [74]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [75]:
data_nouns_adj = pd.DataFrame(data_clean.text.apply(nouns_adj))
data_nouns_adj

                                                    text
0           company try love fly someone address concern
1            cant get state play hunt destinationdragons
2      pleasant flight london charlotte fantastic ama...
3               try transaction offer price try purchase
4                       cat dead thankful evil want soul
...                                                  ...
12701    friend tell able use credit airline flight tell
12702  bit steam conjunction new wait first sit bit t...
12703  nyc flight delay miss connection sacramento ch...
12704          wheelchair assistance request next flight
12705  hour delay double booked seat nit park wrong g...

[12706 rows x 1 columns]

In [76]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=stopWords, min_df=1, max_df=1)
data_cvna = cvna.fit_transform(data_nouns_adj.text)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

,aaalwayslate,aacom,aadelay,aadv,aal,aano,aateam,aaus,ab,abandonment,...,zambia,zip,zrhairport,zukes,zurichnew,ā²,ā²ä,āµfor,āµå,ćøä
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12702,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12703,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12704,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12705,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [79]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=10, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.001*"tue" + 0.001*"neuer" + 0.001*"karaax" + 0.001*"lodgingfood" + 0.001*"missedconnection" + 0.001*"sxmclt" + 0.001*"dependent" + 0.001*"cavalli" + 0.001*"feltthelove" + 0.001*"tindertips"'),
 (1,
  '0.001*"activitiesprevention" + 0.001*"health" + 0.001*"programs" + 0.001*"familywe" + 0.001*"helacohlc" + 0.001*"condomrito" + 0.001*"dounotwantmybusiness" + 0.001*"pickng" + 0.001*"tcossuvwwkyhh" + 0.001*"pressurecooker"'),
 (2,
  '0.001*"codycleverly" + 0.001*"flysouthwest" + 0.001*"stillnobags" + 0.001*"heidimacey" + 0.001*"theyareallbetter" + 0.001*"flyjetblue" + 0.001*"thelodge" + 0.001*"motherpollock" + 0.001*"bobbi" + 0.001*"dwell"'),
 (3,
  '0.001*"invitational" + 0.001*"tcomrfbjtepef" + 0.001*"postmasters" + 0.001*"auction" + 0.001*"rndtrp" + 0.001*"lowercase" + 0.001*"bostondenver" + 0.001*"denverboston" + 0.001*"djimpact" + 0.001*"djqkc"'),
 (4,
  '0.001*"tock" + 0.001*"grasshopper" + 0.001*"discnctany" + 0.001*"navy" + 0.001*"fantasy" + 0.001*"kung" + 0.001*"twitterz" + 0.001*"cancld" + 0.001*"pleads" + 0.001*"bluetiful"'),
 (5,
  '0.001*"stair" + 0.001*"tcoetfjqiwuvt" + 0.001*"society" + 0.001*"pointy" + 0.001*"rad" + 0.001*"greetings" + 0.001*"tcokcqnwixucm" + 0.001*"phxphl" + 0.001*"hemispheresmag" + 0.001*"afterall"'),
 (6,
  '0.001*"airportheld" + 0.001*"westagard" + 0.001*"customersfirst" + 0.001*"att" + 0.001*"rich" + 0.001*"nancy" + 0.001*"shrinerack" + 0.001*"vday" + 0.001*"tcojloiblnair" + 0.001*"holla"'),
 (7,
  '0.001*"nd" + 0.001*"pea" + 0.001*"creative" + 0.001*"zukes" + 0.001*"nonvegan" + 0.001*"noodle" + 0.001*"tcolwotkiekgu" + 0.001*"aä" + 0.001*"demonstration" + 0.001*"corny"'),
 (8,
  '0.001*"auf" + 0.001*"deplanes" + 0.001*"repartee" + 0.001*"tcodnstitrzwy" + 0.001*"witty" + 0.001*"nominate" + 0.001*"german" + 0.001*"meetthefleet" + 0.001*"ala" + 0.001*"playsoon"'),
 (9,
  '0.001*"therofo" + 0.001*"cbsbaltimore" + 0.001*"presceo" + 0.001*"notahappytraveler" + 0.001*"phlmia" + 0.001*"minimal" + 0.001*"renttherunway" + 0.001*"fustrated" + 0.001*"kauai" + 0.001*"creditwhats"')]

In [ ]:
data_clean.to_csv('data_clean.csv')